.wrapper-modal{
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.8);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    .modal{
        width: 400px;
        height: 400px;
        background: #fff;
        border-radius: 4px;
        img{
            width: 400px;
            height: 400px;
            object-fit: cover;
        }
    }
}